body {
    background-color: white;
}

.contents {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.main {
    width: 100%;
    padding-left: 200px;
    background-color: white;
}

.main #main_contents #product_example {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.main #main_contents #product_example img{
    width: 200px;
}

.main #main_contents #product_example button:checked + img {
    transition: 1s ease-in-out;
    animation-name: test;
    animation-duration: 2s;
}

.main #main_contents #product_example .slide {
    transition: 1s ease-in-out;
    animation-name: test;
    animation-duration: .5s;
}

@keyframes test {
    0% {opacity: 1;}
    50% {opacity: .3;}
    100% {opacity: 1;}
}

.main #main_contents #product_section {
    display: flex;
    justify-content: space-evenly;
    height: 500px;
    padding-bottom: 30px;
}
.main #main_contents #product_section #section img{
    width: 500px;
}
.main #main_contents #product_section #section #description {
    background-color: white;
    opacity: 0;
    width: 500px;
    height: 500px;
    /* padding-left: 20px; */
    transform: translate(0, -500px);
    border: 1px solid red;
}

.main #main_contents #product_section #section #description #text {
    padding-left: 20px;
}

.main #main_contents #title_header {
    width: -moz-fit-content;
    margin: 0 auto;
    padding-bottom: 20px;
}
.main #main_contents #title_header h3 {
    font-size: 33px;
    margin: 0 auto;
    border-bottom: red 1px solid;

}

.main #main_contents #product_section #section #description h3{
    font-size: 30px;
}
.main #main_contents #product_section #section #description:hover {
    opacity: 1;
    border: 1px solid red;
}

#sidebar {
    float: left;
    width: 200px;
    height: 100%;
    position: fixed;
    background-color: black;
    transform: translate(0px, -10px);
}

#sidebar img {
    width: 200px;
}

#sidebar p:hover {
    border: 1px solid red;
    opacity: 1;
}

#sidebar a {
    text-decoration: none;
    color: black;
}

#sidebar p {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    height: fit-content;
    background-color: white;
    opacity: .5;
    border: 1px solid transparent;
}

@keyframes test {
    0% {opacity: 1;}
    50% {opacity: .3;}
    100% {opacity: 1;}
}